body {
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/beach-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1 {
  font-size: 32px;
  padding: 15px;
  width: fit-content;
  background-color: #131F11;
  margin: 15px 0;
  border: 1px solid wheat;
}

h2 {
  font-size: 24px;
}

#instructions {
  background-color: #727578; 
  width: 70%;
  line-height: 1.2;
  padding: 1rem;
  margin-bottom: 15px;
}

ul {
  padding-left: 15px;
  list-style-type: disc;
}

ul > li {
  font-size: 16px;
  padding-bottom: 10px;
}

#target-number {
  background-color: #789ABE;
  width: fit-content;
  padding: 1rem;
  border: 1px solid wheat;
}

#wins-losses {
  width: fit-content;
  background-color: #E17C50;
  margin-top: 15px;
  padding: 1rem;
  border: 1px solid wheat;
}

#total-score {
  background-color: #213F57;
  padding: 1rem;
  width: fit-content;
  margin: 15px 0;
  border: 1px solid wheat;
}

#seaglass {
  background-color: tan;
  width: fit-content;
  padding: 0.5rem;
  margin: 15px 0;
}

#seaglass > img {
  width: 150px;
  margin: 10px;
  cursor: pointer;
}