body {
  margin-left: 20px;
  /* background-image: url("../images/beach-background.jpg"); */
}

h1 {
  font-size: 32px;
  padding: 20px 0;
}

h2{
  font-size: 24px;
}

div {
  padding: 15px 0;
}

ul {
  list-style-type: disc;
  width: 60%;
  line-height: 1.2;
  padding-left: 15px;
}

ul > li {
  font-size: 16px;
  padding-bottom: 10px;
}

#seaglass > img {
  width: 150px;
  margin-right: 10px;
  cursor: pointer;
}